
@{
    ViewData["Title"] = "Kraggle | Order Items";
}

<h1>Order Items</h1>

@*<select class="badge" id="productId" asp-items="@ViewBag.ProductList">
    <option value="0">-- Please choose a product --</option>
</select>*@

<div>
    <label>Customer Name: </label>
    <select class="badge" id="customerId" asp-items="@ViewBag.CustomerList">
        <option value="0">-- Please choose a customer --</option>
    </select>
    <table>
        <tr>
            <th>Product Name</th>
        </tr>
    </table>
</div>

