@{
    ViewData["Title"] = "Order Detail";
}

    <div class="container-fluid">
        <h3>Order in detail</h3>
        <hr />
        <a class="btn btn-outline-secondary btn-sm" asp-controller="Order" asp-action="Index">Back</a>
        <a href="" class="btn btn-outline-danger btn-sm">Delete</a>
        <button class="btn btn-primary btn-sm" hidden id="SaveChanges" onclick="Confirm()">Save Changes</button>
        <br /><br />

        @foreach (var order in ViewBag.Order)
        {
            <partial name="PartialView/_OrderDetailCollapse" model="order" />
        }

        <br />
        <div class="container-fluid">
            <h5 class="font-weight-bold">Order Items</h5>
        </div>
        <div class="list-group">
            @foreach (var items in Model)
            {
                <partial name="PartialView/_EditOrder" model="@items" />
            }
        </div>
    </div>

<script src="~/js/edit-order.js"></script>